<div class="sidebar">
  <h3>Steps</h3>
  <ul>
    <li><a href="/home" class="{% if request.path == '/' %}active{% endif %}">1: Billing Type</a></li>
    <li><a href="/column-map" class="{% if request.path == '/column-map' %}active{% endif %}">2: Column Mapping</a></li>
    <li><a href="/filter-fields" class="{% if request.path == '/filter-fields' %}active{% endif %}">3: Filter Fields</a></li>
    <li><a href="/run-specs" class="{% if request.path == '/run-specs' %}active{% endif %}">4: Run Specs</a></li>
    <li><a href="/review" class="{% if request.path == '/review' %}active{% endif %}">5: Review & Execute</a></li>
    <li><a href="/final-price" class="{% if request.path == '/final' %}active{% endif %}">6: Final Price File</a></li>
  </ul>
</div>